.svgContainer {
  width: 100%;
  height: 100%;
}

.heroContainer{
  background-color: #1A1A29;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  width: 100%;
  max-width: 1280px;
}

.heroLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-left: 50px;
}

.heroLeft > p {
  max-width: 400px;
}

.heroRight{
  width: 500px;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}

.buttonAboutMe{
  background-color: #7562E0;
  padding: 10px 18px 10px 18px;
  border-radius: 6px;
  font-size: small;
  font-weight: 600;
  color: white;
  border: none;
  outline: 2px solid #7562E0;
  user-select: none;
}

.buttonAboutMe:active{
  background-color: #2b2354;
  outline: 2px solid #2b2354;
}

.buttonResume{
  background-color: transparent;
  outline: 2px solid #7562E0;
  padding: 10px 18px 10px 18px;
  border-radius: 6px;
  font-size: small;
  font-weight: 600;
  color: white;
  border: none;
  user-select: none;
}

.buttonResume:active{
  background-color: #2b2354;
  outline: 2px solid #2b2354;
}


@media only screen and (max-width: 700px) {
  .heroContainer{
    flex-direction: column-reverse;
  }
  .heroRight{    
    width: 90%;
    margin: 20px;
  }
  .heroLeft{
    margin: 0px;
  }
}