* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  background-color: #1A1A29;
  color: #F5F5F5;
}

.primary-text{
  color: #7562E0;
}

.primary-background{
  background-color: #7562E0;
}

.secondary-text{
  color: #282162;
}

.secondary-background{
  background-color: #282162;
}