.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContainer{
  background-color: #1A1A29;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.heroLeft{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.heroRight{
  flex: 1;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}

.buttonAboutMe{
  background-color: #7562E0;
  padding: 10px 18px 10px 18px;
  border-radius: 6px;
  font-size: small;
  font-weight: 600;
  color: white;
  border: none;
  outline: 2px solid #7562E0;
  user-select: none;
}

.buttonAboutMe:active{
  background-color: #2b2354;
  outline: 2px solid #2b2354;
}

.buttonResume{
  background-color: transparent;
  outline: 2px solid #7562E0;
  padding: 10px 18px 10px 18px;
  border-radius: 6px;
  font-size: small;
  font-weight: 600;
  color: white;
  border: none;
  user-select: none;
}

.buttonResume:active{
  background-color: #2b2354;
  outline: 2px solid #2b2354;
}