@tailwind base;
@tailwind components;
@tailwind utilities;

/** Hero animation**/

#floatingObj {
  animation: MoveUpDown 3s ease-in-out infinite;
  transform-origin: center;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
}

#holdingObj {
  animation: RotateHolding 2s ease-in-out infinite;
  transform-origin: 80% 80%;
}

@keyframes RotateHolding {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}
