@tailwind base;
@tailwind components;
@tailwind utilities;

/** Hero animation**/

#floatingObj {
  animation: MoveUpDown 3s ease-in-out infinite;
  transform-origin: center;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
}

#holdingObj {
  animation: RotateHolding 2s ease-in-out infinite;
  transform-origin: 80% 80%;
}

@keyframes RotateHolding {
  0%,
  100% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
}

.spinningAnim {
  animation: spinning 5s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#rightHeadRobot {
  animation: slideRight 10s ease-in-out infinite;
}

#leftHeadRobot {
  animation: slideLeft 10s ease-in-out infinite;
}

@keyframes slideRight {
  100%,
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-55px);
  }
}

@keyframes slideLeft {
  100%,
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(0px);
  }
}
